		<div class="side-menu">	
			<ul class="nav navbar-nav">

				<li class="active">
					<a href="#"><span class="glyphicon glyphicon-home"></span> 
					Inicio
					</a>
				</li>

				<li><a href="#"><span class="glyphicon glyphicon-cloud"></span> 
						Link</a>
				</li>

				<!-- Dropdown-->
				<li class="panel panel-default" id="dropdown">
					<a data-toggle="collapse" href="#dropdown-lvl1">
						<span class="glyphicon glyphicon-user"></span> 
						Usuarios
						<span class="caret"></span>
					</a>

					<!-- Nivel 1 -->
					<div id="dropdown-lvl1" class="panel-collapse collapse">
						<div class="panel-body">
							<ul class="nav navbar-nav">
								<li><a href="#">Alta de usuarios</a></li>
								<li><a href="#">Baja de usuarios</a></li>
							</ul>
						</div>
					</div>
				</li>

				<li>
					<a href="#">
						<span class="glyphicon glyphicon-cog"></span> 
						Configuración
					</a>
				</li>

			</ul>
		</div>